* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.title-h1 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: #E3B873; 
}
.h3 {
    font-size: 18px;
    line-height: 25px;
}
.subtitle {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #181818;
}
.par {
    font-family: 'Nunito Sans';
    font-style: normal;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 37px;
    text-align: center;
    color: #363636;
}
.button {
    color: white;
    cursor: pointer;
    background: #E3B873;
    border: 0;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
}
.button-1 {
    padding: 13px 33px;
    margin-left: 45px;
    margin-right: 45px;
    font-size: 11px;
    line-height: 15px;
}
.header {
    background-color: #131313;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 83px;
    align-items: center;
    font-family: 'Nunito Sans', sans-serif;
}
.logo {
    color: #E3B873;
    text-transform: uppercase;
    margin-right: 95px;
    margin-left: 45px;
}
.header-navigation {
    display: flex;
    list-style-type: none;
    flex-direction: row;
    
}
.header-navigation-item {
    margin-right: 47px;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
}
.header-navigation-item a {
    text-decoration: none;
    color: white;
}
.header-navigation-item a:hover {
    color: #E3B873;
}
.number {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
}

.text-num-1 {
    padding-top: 194px;
}
.text-with-image {
    padding-top: 194px;
    padding-left: 134px;
    color: white;
    background-size: cover;
    height: 707px;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8) ), url('../images/house-wrapper.jpg');
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
}
.title {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
}
.title span {
    color: #E3B873;
}
.main-title-text {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
}
.buttons {
    padding-top: 41px;
}
.button-2 {
    padding: 19px 42px 20px 41px;
    color: white;
    cursor: pointer;
    background: #E3B873;
    border: 0;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
    border-radius: 2px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
}
.button-glass {
    padding: 18px 23px 19px 22px;
    margin-left: 20px;
    color: white;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
    border: 1px solid white;
    border-radius: 2px;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
}
.text2 {
    background-color: #131313;
    height: 1074px;
}
.main-navigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 655px;
    padding-top: 107px;
}
.main-navigation-item {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.3);
    padding-right: 60px;
}
.main-navigation-item a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
}
.main-navigation-item a:hover {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 7px;
}
.main-content-1 {
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    margin-left: 95px;
}
.main-content-1-text {
    display: flex;
    flex-direction: column;
    margin-top: 16px;
    margin-right: 122px;
}
.paragraf-first {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    color: #FFFFFF;

}
.podfirst {
    padding-bottom: 60px;
}
.pad {
    margin-bottom: 34px;
}
.pod-main-content {
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    
}
.row {
    display: flex;
    flex-direction: row;
    padding-bottom: 3px;
}
.txt1 {
    width: 200px;
}
.chair {
    display: flex;
    margin-top: -520px;
    height: 482px;
    width: 679px;
}
.strelki {
    display: flex;
    flex-direction: row;
}
.krug-v-strelkah {
    margin-right: 18px;
    height: 10px;
    width: 10px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
}
.krug-v-strelkah:hover {
    background-color: #FFFFFF;
}
#kruzok {
    margin-right: 29.5px;
}
.strelka {
    margin-right: 29.5px;
    margin-bottom: 2px;
    height: 13px;
    width: 41px;
}
.text3 {
    background-color: white;
}
.text-3 {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
}
.white {
    color: #FFFFFF;
}
.camera {
    display: flex;
    justify-content: center;
    margin-top: 13px;
    margin-bottom: 31px;
}
/*.play {
    display: flex;
    width: 85px;
    height: 85px;
    background: #E3B873;
    box-shadow: 0px 5px 30px rgba(227, 184, 115, 0.2);
    border: 0px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}*/
.fix {
    cursor: pointer;
}
.half-color {
    margin-top: -338px;
}
.hr {
    border-top:2px solid #E3B873;
    padding-top: 10px;
    width: 55px;
    margin-top: 62.5px;
    margin-bottom: 34px;
}
.form-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 94px;
    margin-bottom: 40px;
}
.labels {
    display: flex;
    flex-direction: column;
}
.form-group label {
    display: block;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color: rgba(54, 54, 54, 0.5);
}
.form-group input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #363636;
    border: 0;
    border-bottom: 1px solid rgba(54, 54, 54, 0.3);
    padding-bottom: 8px;
    width: 231px;
    margin-right: 50px;
    text-align: left;
}
.button-3 {
    width: 200px;
    height: 51px;
}
.text-3 form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scam {
    display: none;
}
.checkbox {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #181818;
    padding: 10px 0;
    vertical-align: middle;
}
.checkbox:before {
    content: '';
    color: #000;
    display: inline-block;
    font: 15px FontAwesome;
    margin-right: 15px;
    text-align: center;
    text-indent: 0px;
    width: 18px;
    height: 18px;
    background: #FFF;
    border: 1px solid gray;
    vertical-align: middle;
    border-radius: 1px;
    cursor: pointer;
}
.scam:checked + .checkbox:before {
    content: '\f00c';
    color: #FFF;
    background-color: #E3B873;
}
.text-4 {
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 76px;
}
.hammer {
    width: 114px;
    height: 28px;
}
.images-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 31px;
}
.tri-cartinci {
    padding-right: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.third-image {
    padding: 0;
}
.subtitle-img {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #363636;
}
.images-3-text {
    display: block;
    margin-top: -127px;
    width: 330px;
    height: 286px;
    background-color: #FFF;
    position: relative;
    z-index: 0;
    padding: 25px 29px 49px 34px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
}
.images-3-text ul {
    margin-top: 13px;
    list-style-type: none;
    
}
.images-3-text li {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    color: #959595
}
.button-4 {
    font-size: 18px;
    line-height: 25px;
    font-style: normal;
    width: 228px;
    height: 54px;
}
.align-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.knopka-4 {
    margin-top: -27px;
    position: relative;
    z-index: 1;
}
.options-and-form {
    display: flex;
    flex-direction: row;
    margin-top: 230px;
    align-items: flex-start;
    background-image: url(../images/background.png);
    background-size:700px 545px;
    background-repeat: no-repeat;
    background-position: -7% center;
    padding: 150px;
}
.options {
    display: flex;
    flex-direction: column;
    margin-right: 63px;
    width: 506px;
    height: 509px;
}
.circle-one {
    padding: 10px 12px;
    background-color: #E3B873;
    border: 8px solid #FFF;
    border-radius: 50%;
    margin-bottom: 78px;
    text-align: center;
}
.circle-text {
    color: #FFF;
    font-size: 18px;
    line-height: 25px;
}
.l-h {
    line-height: 26px;
}
.op-par {
    font-size: 14px;
    text-align: left;
    line-height: 19px;
    padding-left: 10px;
    margin-top: 10px;
}
.form-group-2 {
    background-color:#131313;
    width: 506px;
    height: 509px;
    box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
    padding: 28px 49px;
    margin-left: 63px;
}
.form-group-2 label {
    display: block;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    color:#FFFFFF80;
    
}
.form-group-2 input {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color:#FFFFFF;
    background-color: #131313;
    border: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    padding-bottom: 8px;
    width: 408px;
    text-align: left;
}
.form-group-2 ::-webkit-input-placeholder {
    color:white;
}
.mar {
    margin-bottom: 50px;
}
.maar {
    margin-bottom: 10px;
}
.button-5 {
    margin-left: 194px;
    margin-top: 39px;
    width: 213px;
    height: 51px;
}
.pig {
    display: flex;
    flex-direction: row;
    margin-left: 450px;
    margin-top: -120px;
}
.p-pig {
    line-height: 26px;
    color: #E3B873;
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
    text-align: left;
    margin-top: 20px;
}
.text5 {
    margin-top: 240px;
    background-image: url(../images/fon-2.png);
    height: 864px;
}
.text-5 {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
}
.spis {
    display: flex;
    flex-direction: column;
    margin-right: 77px;
    width: 414px;
}
.main-navigation-2 {
    color: #FFF;
}
.item-2 {
    font-family: 'Nunito Sans';
    list-style-type: none;
    padding-bottom: 25px;
    font-size: 20px;
    line-height: 24px;
    text-transform: none;

}
.item-2 a {
    color: #FFF;
}
.item-2 a:hover {
    color: #E3B873;
    border-bottom: 1px solid #E3B873;
    padding-bottom: 1.5px;
}
.cl-and-sf {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
.tv-and-fl {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
#clock {
    margin-top: -40px;
}
#sofa {
    margin-top: -111px;
    margin-left: 43px;
}
#flower {
    margin-top: -313px;
    margin-left: 43px;
}
#tv {
    margin-top: 40px;
}
.text6 {
    background-image: url(../images/background-Frame.png);
    margin-top: 110px;
    background-repeat: repeat-x;
    background-size: auto;
    background-position: left bottom;
    height: 1110px;
}
.nazvanie {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.naz-par {
    line-height: 30px;
    margin-top: 25px;
}
.customers {
    margin-top: 190px;
}
.customer-1 {
    border: 0;
    border-radius: 50%;
}
.center {
    align-items: center;
    margin-bottom: 15px;
}
.cus-text {
    width: 376px;
    height: 428px;
}
.cus-par {
    font-size: 13px;
    line-height: 180%;
    text-align: left;
}
.cus-bottom-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 294px;
    height: 54px;
    background: #E3B873;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    margin-top: -25px;
    position: relative;
    z-index: 0;
    padding-left: 17px;
}
.cus-img-text {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-right: 15px;
    margin-left: 15px;
}
.cus-2-img {
    padding-left: 17px;
}
.bor {
    width: 1px;
    height: 54px;
    background-color: #FFF;
}
.text7 {
    background-image: url(../images/Group66.png);
    height: 954px;
    background-size: cover;
}
.text-7 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-3 {
    display: flex;
    flex-direction: column;
    width: 883px;
    height: 445px;
    margin-top: -222px;
    align-items: center;
}
.labels-2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.form-3 input {
    width: 231px;
}
.in-3 {
    margin-right: 58px;
}
.email input {
    width: 517px;
    margin-bottom: 48px;
}
.h-2 {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 45px;
}
.button-6 {
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.1);
    height: 54px;
    width: 200px;
    font-size: 13px;
    line-height: 27px;
    font-style: normal;
    margin-top: 20px;
}
.last-text {
    margin-top: 54px;
}
.last-svg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
}
.last-svg img {
    padding-left: 15px;
}
.lt {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
}
.map {
    margin-top: 42px;
}
.footer {
    display: flex;
    flex-direction: row;
    background-color: #181818;
    height: 133px;
    align-items: center;
}